@mixin horizontal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

@mixin vertical-container {
  @include horizontal-container;
  flex-direction: column;
}

@mixin rounded($radius: 3px) {
  border-radius: $radius;
}

@mixin nowrap {
  white-space: nowrap;
}
