@mixin hidable($type) {
  @if type == somType {
    // NOT WORKING
  } @else {
    &.hide {
      display: none;
    }

    &.show {
      display: revert;
    }
  }
}

@mixin hidable-vertical-collapse {
  overflow: hidden;
  max-height: 0px;
  color: #0000;
  transition: max-height 1s ease-in-out;
  &.show {
    max-height: 100%;
    color: inherit;
    transition: all 0.5s ease-out;
  }
}
